Hotels-Agent-CRISTI.json
{
  "name": "Hotels-Agent-CRISTI",
  "nodes": [
    {
      "parameters": {
        "toolDescription": "Scrape Google maps to get reviews",
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "maxItems",
              "value": "25"
            },
            {
              "name": "limit",
              "value": "25"
            },
            {
              "name": "maxTotalChargeUsd",
              "value": "={{ Number(0.2) }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"locationQuery\": \"{{ $fromAI('locationQuery', `Define location using free text. Simpler formats work best; e.g., use City + Country`, 'string', 'Sibiu') }}\",\n    \"maxCrawledPlacesPerSearch\": {{ $fromAI('maxCrawledPlacesPerSearch', `Maximum number of places to crawl per search`, 'number', 10) }},\n    \"language\": \"{{ $fromAI('language', `The language to search in (en, ro, us)`, 'string', 'ro') }}\",\n    \"maxReviews\": {{ $fromAI('maxReviews', `How many reviews should we want to have?`, 'number', 10) }},\n    \"reviewsSort\": \"newest\",\n    \"reviewsOrigin\": \"google\",\n    \"scrapeReviewsPersonalData\": false,\n    \"searchStringsArray\": [\"hotels\"],\n    \"city\": \"{{ $fromAI('city', 'The specific city name for location-based search', 'string') }}\",\n    \"scrapeImageAuthors\": false,\n    \"maxImages\": 5\n}",
        "options": {},
        "optimizeResponse": true,
        "fieldsToInclude": "selected",
        "fields": "=hotelStars,hotelDescription,checkInDate,checkOutDate,similarHotelsNearby,hotelAds,placeId,totalScore,reviewsCount,reviewsDistribution,reviews,searchString,address,title,city,searchPageUrl"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        560,
        -400
      ],
      "id": "65c79144-91b0-4dd4-a6c5-4ce250e0516c",
      "name": "Scrape Google Maps",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "credentials": {
        "apifyApi": {
          "id": "Dan6ZwpKbjUbYasi",
          "name": "Apify account"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "Analyze and curate the best images from property data based on user preferences",
        "method": "POST",
        "url": "https://primary-production-11988.up.railway.app/webhook/analyze-images",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"properties\": {{ $fromAI('propertyData', 'Array of all property objects from Booking.com and Airbnb scrapers with complete image data. Include all property details, image arrays, and metadata for comprehensive visual analysis. Pass the entire property objects, not just image URLs.', 'json') }},\n    \"userPreferences\": {{ $fromAI('userPreferences', 'Object containing user preferences for their stay: trip type (romantic, family, business), preferred amenities (pool, view, spa), budget range, and any specific visual preferences mentioned during the conversation.', 'json') }},\n    \"sessionId\": \"{{ $('Edit Fields1').item.json.sessionId }}\"\n}",
        "options": {},
        "optimizeResponse": true,
        "fieldsToInclude": "selected",
        "fields": "curatedImages,processingTime"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        720,
        -260
      ],
      "id": "585065eb-c31b-4849-bd3d-fa0544f54590",
      "name": "Image Analyzer",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -300,
        -180
      ],
      "id": "a1f681e3-9799-454c-a1b7-1dec4091f24f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6crYZOqBsqTBxATq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "tableName": "hotels_agent"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -160,
        -180
      ],
      "id": "542ce67c-dddd-48ae-a98a-64db6a969b5e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "FPy2djSGyWu7XCgP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cedc1f8-0343-4fd7-ae02-c94ebfcacc69",
              "name": "chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "fbff52a0-dbd2-47a5-b933-27ead60f90fa",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        -600
      ],
      "id": "d2b71ad4-6e6b-47b6-af35-74bc50e545d0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "042d2591-94ed-43a9-a5e5-0860412c08e5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        -600
      ],
      "id": "739106ff-e14a-4945-8b9a-12fb10a89d78",
      "name": "Vola Webhook",
      "webhookId": "042d2591-94ed-43a9-a5e5-0860412c08e5"
    },
    {
      "parameters": {
        "content": "## Vola\nWebhook",
        "height": 240,
        "width": 1200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        -680
      ],
      "typeVersion": 1,
      "id": "8bf48e96-dfbf-4b76-8122-f1227a337672",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "toolDescription": "Get Accomodation Reviews for Airbnb Platform",
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/tri_angle~airbnb-reviews-scraper/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "maxItems",
              "value": "25"
            },
            {
              "name": "limit",
              "value": "25"
            },
            {
              "name": "maxTotalChargeUsd",
              "value": "={{ Number(0.2) }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "locale",
              "value": "ro-RO"
            },
            {
              "name": "startUrls",
              "value": "={{ $fromAI('startUrls', 'Array of cleaned hotel URLs from booking scraper results for further processing. This function should extract hotel URLs from the previously scraped Booking.com data and prepare them for additional scraping tools. Process each property object by: 1) Extract the \"url\" field from each hotel/property in the booking results, 2) Clean the URLs by removing all query parameters (strip everything after and including the \"?\" character to get base URLs), 3) Format as an array of objects where each object contains both \"url\" and \"method\" properties, 4) Set method to \"GET\" for all URLs. Expected output format: [{\"url\": \"https://example-hotel-url.com\", \"method\": \"GET\"}, {\"url\": \"https://another-hotel-url.com\", \"method\": \"GET\"}]. This tool should ONLY be called AFTER successfully receiving and processing results from the main Booking.com scraper tool, as it depends on that data to generate the URLs for subsequent processing steps.', 'json') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true,
        "fieldsToInclude": "selected",
        "fields": "localizedText,startUrl,rating,text,id,localizedReview"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        80,
        40
      ],
      "id": "f33f1f37-679c-4161-849e-601e2a14c653",
      "name": "Reviews Airbnb",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "credentials": {
        "apifyApi": {
          "id": "Dan6ZwpKbjUbYasi",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "Get Accomodation Reviews for Booking.com Platform",
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/voyager~booking-reviews-scraper/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "maxItems",
              "value": "25"
            },
            {
              "name": "limit",
              "value": "25"
            },
            {
              "name": "maxTotalChargeUsd",
              "value": "={{ Number(0.2) }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cutoffDate",
              "value": "200 days"
            },
            {
              "name": "maxReviewsPerHotel",
              "value": "={{ Number(50) }}"
            },
            {
              "name": "sortReviewsBy",
              "value": "f_relevance"
            },
            {
              "name": "startUrls",
              "value": "={{ $fromAI('startUrls', 'Array of cleaned hotel URLs from booking scraper results. Extract the url field from each property, STRIP query parameters (remove ? and everything after), then format as [{\"url\": \"clean_hotel_url_1\"}, {\"url\": \"clean_hotel_url_2\"}]. This tool should only be called AFTER receiving results from the main Booking.com scraper.', 'json') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true,
        "fieldsToInclude": "except",
        "fields": "userName,userAvatar,propertyResponse,checkInDate,checkOutDate,id,numberOfNights,stayRoomId,hotelId,reviewsScoreFilter,reviewPage,startUrl"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        260,
        40
      ],
      "id": "da3b9ec7-9eec-41b2-bb36-073cc56a8eb7",
      "name": "Reviews Booking",
      "retryOnFail": true,
      "credentials": {
        "apifyApi": {
          "id": "Dan6ZwpKbjUbYasi",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Tools\nBusinessLogic",
        "height": 400,
        "width": 1020,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        -40
      ],
      "typeVersion": 1,
      "id": "4aac3ff1-2e7f-415f-913d-594c3b4646cb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Agent\nBusinessLogic",
        "height": 400,
        "width": 1020,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        -440
      ],
      "typeVersion": 1,
      "id": "ef850e09-5ce7-4739-a86e-d84decb1f083",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Chat \n",
        "height": 800,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        -440
      ],
      "typeVersion": 1,
      "id": "3901f447-64e8-4200-8262-3692fab93971",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        480,
        -600
      ],
      "id": "4e6d8752-1b60-464e-a66f-e1a05adae1ae",
      "name": "Respond to Webhook",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "Scrape Booking to get listings.",
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/voyager~booking-scraper/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "maxItems",
              "value": "25"
            },
            {
              "name": "limit",
              "value": "25"
            },
            {
              "name": "maxTotalChargeUsd",
              "value": "={{ Number(0.2) }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "minMaxPrice",
              "value": "={{ $fromAI('price_range', `The price range acceptable for the user formated as min-max, by default is 0-999999`, 'string') }}"
            },
            {
              "name": "checkIn",
              "value": "={{ $fromAI('check_in_date', `Check in date as ISO date only`, 'string') }}"
            },
            {
              "name": "checkOut",
              "value": "={{ $fromAI('check_out_date', `Check out date as ISO date only`, 'string') }}"
            },
            {
              "name": "search",
              "value": "={{ $fromAI('Destination', `The destination the user wants to visit`, 'string') }}"
            },
            {
              "name": "flexWindow",
              "value": "={{ $fromAI('flexibility_window', `How many days plus or minus the check-in or check-out date the client is ok with`, 'string') }}"
            },
            {
              "name": "adults",
              "value": "={{ $fromAI('adults', `Number of adults for the trip`, 'number') }}"
            },
            {
              "name": "children",
              "value": "={{ $fromAI('children', `Number of children for the trip`, 'number') }}"
            },
            {
              "name": "currency",
              "value": "={{ $fromAI('currency', `Currency in which to display results, usually RON, EUR or USD`, 'string') }}"
            },
            {
              "name": "rooms",
              "value": "={{ $fromAI('rooms', `Number of rooms needed by the client`, 'number') }}"
            },
            {
              "name": "language",
              "value": "ro"
            },
            {
              "name": "propertyType",
              "value": "={{ $fromAI('propertyType', 'One of the following: \"Hotels\", \"Apartments\", \"Hostels\", \"Guest Houses\", \"Homestays\", \"Bed an breakfasts\", \"Holiday homes\", \"Boats\", \"Villas\", \"Motels\", \"Resorts\", \"Holiday parks\", \"Campsites\", \"Luxury tents\" or \"none\"', 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true,
        "fieldsToInclude": "except",
        "fields": "order,hotelChain,licenseInfo,hostInfo,traderInfo,breadcrumbs,timeOfScrapeISO,hotelId"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        420,
        40
      ],
      "id": "ef3878db-ba6e-4ab6-a81e-6a8a54a263de",
      "name": "Scrape Booking",
      "retryOnFail": true,
      "credentials": {
        "apifyApi": {
          "id": "Dan6ZwpKbjUbYasi",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "Scrape AirBnb to get available listings.",
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/tri_angle~airbnb-scraper/run-sync-get-dataset-items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apifyApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "maxItems",
              "value": "25"
            },
            {
              "name": "limit",
              "value": "25"
            },
            {
              "name": "maxTotalChargeUsd",
              "value": "={{ Number(0.2) }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "adults",
              "value": "={{ $fromAI('adults', 'Number of adults on the trip', 'number') }}"
            },
            {
              "name": "checkIn",
              "value": "={{ $fromAI('check_in_date', 'Check-in date as ISO date only', 'string') }}"
            },
            {
              "name": "checkOut",
              "value": "={{ $fromAI('check_out_date', 'Check-out date as ISO date only', 'string') }}"
            },
            {
              "name": "children",
              "value": "={{ $fromAI('children', 'Number of children on the trip', 'number') }}"
            },
            {
              "name": "currency",
              "value": "={{ $fromAI('currency', `Currency in which to display results, usually RON, EUR or USD`, 'string') }}"
            },
            {
              "name": "infants",
              "value": "={{ $fromAI('infants', 'Number of infants on the trip', 'number') }}"
            },
            {
              "name": "locale",
              "value": "ro-RO"
            },
            {
              "name": "locationQueries",
              "value": "={{ [$fromAI('destination', `The destination the user wants to visit`, 'string')] }}"
            },
            {
              "name": "minBathrooms",
              "value": "={{ $fromAI('min_bathrooms', 'Minimum number of bathrooms at the stay', 'number') }}"
            },
            {
              "name": "minBedrooms",
              "value": "={{ $fromAI('min_bedrooms', 'Minimum number of bedrooms at the stay', 'number') }}"
            },
            {
              "name": "minBeds",
              "value": "={{ $fromAI('min_beds', 'Minimum number of beds at the stay', 'number') }}"
            },
            {
              "name": "pets",
              "value": "={{ $fromAI('pets', 'Number of pets on the trip', 'number') }}"
            },
            {
              "name": "priceMax",
              "value": "={{ $fromAI('price_max', 'Maximum price per night on the trip', 'number') }}"
            },
            {
              "name": "priceMin",
              "value": "={{ $fromAI('price_min', 'Minimum price per night on the trip', 'number') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true,
        "fieldsToInclude": "except",
        "fields": "id,descriptionOriginalLanguage,metaDescription,seoTitle,thumbnail,androidLink,iosLink,breadcrumbs,host,coHosts,locationSubtitle,htmlDescription,brandHighlights,icon,timestamp,language"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -80,
        40
      ],
      "id": "0d2c9a52-8c83-454a-b223-be271b9074e3",
      "name": "Scrape AirBnb",
      "retryOnFail": true,
      "credentials": {
        "apifyApi": {
          "id": "Dan6ZwpKbjUbYasi",
          "name": "Apify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Bună, sunt Volabot! 👋\nCu ce te pot ajuta azi?",
        "options": {
          "inputPlaceholder": "Vreau să merg într-o vacanță în Maldive, alături de soția mea, între 14 și 28 august...",
          "responseMode": "responseNode",
          "showWelcomeScreen": true,
          "subtitle": "Trimite-ne un mesaj, iar agentul nostru îți va găsi cele mai bune opțiuni de cazare care să corespundă preferințelor tale 🌴",
          "title": "Descoperă opțiuni de cazare cu Vola!",
          "customCss": ":root {\n  /* Vola Brand Colors */\n  --chat--color-primary: #4169E1;  /* Vola Blue */\n  --chat--color-primary-shade-50: #3B5FD9;\n  --chat--color-primary-shade-100: #3555D1;\n  --chat--color-secondary: #FFB800;  /* Vola Yellow/Orange */\n  --chat--color-secondary-shade-50: #E6A500;\n  --chat--color-white: #ffffff;\n  --chat--color-light: #f8f9fd;\n  --chat--color-light-shade-50: #eef1fb;\n  --chat--color-light-shade-100: #d9dff7;\n  --chat--color-medium: #c8d0e8;\n  --chat--color-dark: #1a2040;\n  --chat--color-disabled: #6b7280;\n  --chat--color-typing: #374151;\n\n  /* Base Layout */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.5rem;  /* Slightly more rounded for modern look */\n  --chat--transition-duration: 0.15s;\n\n  /* Window Dimensions */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--window--border-radius: 1rem;  /* More rounded window */\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles - Vola Blue */\n  --chat--header-height: auto;\n  --chat--header--padding: var(--chat--spacing);\n  --chat--header--background: var(--chat--color-primary);\n  --chat--header--color: var(--chat--color-white);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: none;\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 2em;\n  --chat--subtitle--font-size: inherit;\n  --chat--subtitle--line-height: 1.8;\n\n  /* Message Styles */\n  --chat--message--font-size: 1rem;\n  --chat--message--padding: var(--chat--spacing);\n  --chat--message--border-radius: 1rem;  /* More rounded messages */\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: calc(var(--chat--spacing) * 1);\n  --chat--message--bot--background: var(--chat--color-white);\n  --chat--message--bot--color: var(--chat--color-dark);\n  --chat--message--bot--border: 1px solid var(--chat--color-light-shade-50);\n  --chat--message--user--background: var(--chat--color-primary);\n  --chat--message--user--color: var(--chat--color-white);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: rgba(65, 105, 225, 0.1);  /* Light blue background for code */\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button - Vola Blue with Yellow accent */\n  --chat--toggle--size: 64px;\n  --chat--toggle--width: var(--chat--toggle--size);\n  --chat--toggle--height: var(--chat--toggle--size);\n  --chat--toggle--border-radius: 50%;\n  --chat--toggle--background: var(--chat--color-primary);\n  --chat--toggle--hover--background: var(--chat--color-primary-shade-50);\n  --chat--toggle--active--background: var(--chat--color-primary-shade-100);\n  --chat--toggle--color: var(--chat--color-white);\n\n  /* Button Styles */\n  --chat--button--color: var(--chat--color-white);\n  --chat--button--background: var(--chat--color-primary);\n  --chat--button--padding: calc(var(--chat--spacing) * 1 / 2) var(--chat--spacing);\n  --chat--button--border-radius: 0.5rem;\n  --chat--button--hover--color: var(--chat--color-white);\n  --chat--button--hover--background: var(--chat--color-primary-shade-50);\n  --chat--close--button--color-hover: var(--chat--color-primary);\n\n  /* Send and File Buttons - Yellow accent */\n  --chat--input--send--button--background: var(--chat--color-secondary);\n  --chat--input--send--button--color: var(--chat--color-dark);\n  --chat--input--send--button--background-hover: var(--chat--color-secondary-shade-50);\n  --chat--input--send--button--color-hover: var(--chat--color-dark);\n  --chat--input--file--button--background: var(--chat--color-white);\n  --chat--input--file--button--color: var(--chat--color-primary);\n  --chat--input--file--button--background-hover: var(--chat--color-light);\n  --chat--input--file--button--color-hover: var(--chat--color-primary-shade-50);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer - Light blue tint */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n  --chat--footer--color: var(--chat--color-dark);\n}\n\n/* Custom message styling for Vola theme */\n.chat-message {\n  max-width: 50%;\n  box-shadow: 0 2px 8px rgba(65, 105, 225, 0.1);\n  transition: transform 0.2s ease, box-shadow 0.2s ease;\n}\n\n.chat-message:hover {\n  transform: translateY(-1px);\n  box-shadow: 0 4px 12px rgba(65, 105, 225, 0.15);\n}\n\n/* Additional Vola-specific enhancements */\n.chat-header {\n  background: linear-gradient(135deg, var(--chat--color-primary) 0%, var(--chat--color-primary-shade-50) 100%);\n}\n\n.chat-toggle {\n  box-shadow: 0 4px 16px rgba(65, 105, 225, 0.3);\n  transition: all 0.3s ease;\n}\n\n.chat-toggle:hover {\n  box-shadow: 0 6px 20px rgba(65, 105, 225, 0.4);\n  transform: translateY(-2px);\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -380
      ],
      "id": "8cede472-e579-460b-8abf-f0c77d495e0a",
      "name": "When chat message received",
      "webhookId": "b419f5d3-82dd-41d3-933d-eca656870ab6"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "START SYSTEM PROMPT\n\n# VolaBot – Premium Travel Consultant\n\nYou are VolaBot. You must not invent, alter, or search for new information. Your entire reality is the JSON provided.\n\n**CRITICAL Language Consistency Rule**\nThe user's detected language (e.g., English) is the absolute authority for the entire conversation. The input data you receive from the scraper may contain text in other languages (e.g., Romanian descriptions or review titles like 'Facilităţi').\n\n**You MUST IGNORE the language of the input data and translate everything into the user's detected language.**\n* This applies to ALL text you output, including review summaries, descriptive text, and **especially the property titles themselves.**\n* If a property's `name` field in the JSON contains mixed languages (e.g., 'Hidden Treasure: Studio confortabil'), you MUST translate the non-English part to produce a clean, fully translated title (e.g., 'Hidden Treasure: Cozy, centrally-located studio').\n* If a user is writing in English, your entire output must be in English. This means translating any Romanian or Polish text from the input data before presenting it. For example, the review category 'Curăţenie' must be translated and presented as 'Cleanliness'.\n\n### Handling Dates & Search Parameters\n\nWhen you prepare the search for the user, for the booking scraper, you must correctly set the `flexibility_window` search parameter for the scraper tool. This parameter is critical and has **only four valid string values**: `\"0\"`, `\"1\"`, `\"2\"`, or `\"7\"`.\n\nFollow this logic precisely to avoid errors:\n\n1.  **Analyze the user's date request.** Determine if the dates are **Exact** or **Vague**.\n    * **Exact Dates** are specific, unambiguous days (e.g., \"August 20th to August 28th,\" \"from 2025-08-20 to 2025-08-28,\" \"this coming Friday until Sunday\").\n    * **Vague Dates** are non-specific or approximate periods (e.g., \"next weekend,\" \"a week in August,\" \"sometime in September,\" \"around Christmas\").\n\n2.  **Set the `flexibility_window` parameter based on your analysis:**\n    * **IF the dates are Exact:** You **MUST** set the parameter as `flexibility_window = \"0\"`.\n    * **IF the dates are Vague:** You **MUST** set the parameter as `flexibility_window = \"3\"`. This is your standard, safe default for all non-exact date requests.\n\nDo not attempt to invent other values (like \"2 days\" or \"a week\") or leave the parameter blank. Using an invalid value is a critical failure that will prevent the search from working.\n\n**CRITICAL OUTPUT FORMATTING**\nYour final response must be clean, readable text formatted with Markdown.\n* **DO NOT** wrap your entire response in a code block (```).\n* Use Markdown for headers (###), bold text (**text**), and bullet points (•).\n* Ensure links are formatted as `[Clickable Text](URL)` so they are interactive.\n\n**Year Default Rule:**\nIf the user doesn't specify a year in their date request, extract the current year from the {{$now}} variable:\n- Parse {{$now}} to get the current year\n- Apply this year to any dates mentioned without explicit year\n- Example: User says \"March 15-20\" and {{$now}} shows 2025 → Use \"2025-03-15\" to \"2025-03-20\"\n\n## Conversation flow\n\n**1. Gather essentials** – Ask in the guest's language (detected from their very first message) for destination, dates, budget/night, experience. Interpret vague dates (e.g. \"next weekend\"). **Stay in that language for the whole chat**.\n\n**2. Ask to start search** – In a few lines, summarise the trip **in the same language**, mention you'll comprehensively scan **both platforms: Booking.com and Airbnb** (~80+ properties, 1000+ reviews) and that it takes ~5 min. Finish with a clear \"OK?\" and wait.\n\nNEVER START THE SEARCH BEFORE ASKING FOR CONFIRMATION.\n\nYOU MUST OBTAIN EXPLICIT USER CONSENT (\"OK\", \"yes\", \"go ahead\", etc.) BEFORE CALLING ANY SCRAPER TOOLS.\n\nMANDATORY CONFIRMATION STEP: Wait for the user's explicit approval before executing the booking/airbnb search tools.\n\nMAKE sure that the dates are in the future so basically > $today is okay.\n\n\n## Multi-Platform Search Execution\n\n**CRITICAL: When user confirms search, you MUST execute ALL FOUR scraper tools in TWO phases:**\n\n**PHASE 1 (Simultaneous - Property Discovery):**\n1. **Booking.com scraper** with accommodation search parameters\n2. **Airbnb scraper** with accommodation search parameters\n\n**PHASE 2 (Sequential - Detailed Reviews):**\n3. **Reviews Booking scraper** with URLs from Booking.com results\n4. **Reviews Airbnb scraper** with URLs from Airbnb results\n\n**LOCATION SYNCHRONIZATION RULE (MANDATORY):**\nThe destination string MUST be IDENTICAL across both scrapers:\n- Booking: `\"search\": \"Sibiu\"`\n- Airbnb: `\"locationQueries\": [\"Sibiu\"]`\n\nDo NOT add country, region, or any modifiers - use the EXACT same string.\n\nWhen you prepare to call the booking and airbnb scraper tools, you must provide the parameters exactly as specified in each tool's JSON schema. This is a critical, non-negotiable step and is crucial to ensure all tools' operation.\n\n\n**1. Date Parameters (`checkIn`, `checkOut`, `flexWindow`):**\n\n* Your primary goal during the conversation is to determine the user's **exact check-in and check-out dates**.\n* If a user provides vague dates (e.g., \"next weekend,\" \"a week in August\"), you **must** ask clarifying questions until you have resolved them into specific ISO date formats (e.g., `2025-08-22`). You cannot proceed to the search step without exact dates.\n* The `checkIn` and `checkOut` parameters must be populated with these exact ISO dates.\n\n**2. Language Parameter (`language`):**\n\n* The scraper tool requires the `language` parameter to be hardcoded to `\"ro\"`.\n* This is for the tool's operation only and is separate from your conversation language. You will continue to speak to the user in their detected language (English, Polish, etc.), but in the JSON sent to the tool, you will always set `\"language\": \"ro\"`.\n\n**3. Other Key Parameters:**\n\n* **`minMaxPrice`**: Use the user's stated budget. If no budget is given, you can use a default like `\"0-999999\"`. But make sure to ask it first, right before the conversation.\n* **`currency`**: Use the currency the user specifies. If they don't, infer a logical default based on the destination or user (e.g., EUR, USD, RON).\n* **`adults`**, **`children`**, **`rooms`**: Use the numbers provided by the user. If they are not specified, you must ask for them. A safe starting assumption if you have to ask is 2 adults, 0 children, and 1 room.\n\n* one side note regarding `rooms` -> HERE is an array which has a very special item **`available`** which is a boolean. If it's true, then the room is available for booking.\n\n\n## Detailed Review Analysis (MANDATORY SECOND PHASE)\n\n**⚠️ CRITICAL REQUIREMENT: You MUST call BOTH review scrapers - Reviews Booking AND Reviews Airbnb - even if you have fewer properties from one platform. Both scrapers provide essential data for comprehensive analysis. NEVER skip either scraper.**\n\n**🔴 MANDATORY URL COUNT VALIDATION: The number of URLs passed to review scrapers MUST equal the number of properties returned from Phase 1. If Booking.com returns 12 properties, Reviews Booking MUST receive all 12 URLs. If Airbnb returns 8 properties, Reviews Airbnb MUST receive all 8 URLs. Missing even one URL is a critical failure.**\n\n**CRITICAL: After receiving results from Phase 1 scrapers, you MUST call the review scrapers to get comprehensive review data:**\n\n### Reviews Booking Parameters\n* **Trigger Condition**: Only call AFTER you have received results from the main Booking.com scraper\n* **URL Extraction**: **MANDATORY** - Extract **EVERY SINGLE** hotel URL from booking scraper results - if you received 15 properties, you MUST pass 15 URLs to the review scraper (the `url` field from each property)\n* **URL Cleaning**: Strip query parameters (everything after \"?\") to get clean canonical URLs\n  - Example: `https://www.booking.com/hotel/ro/silva-sibiu.ro.html?checkin=2025-01-15&adults=2` \n  - Becomes: `https://www.booking.com/hotel/ro/silva-sibiu.ro.html`\n* **startUrls Format**: Create array of URL objects: `[{\"url\": \"hotel_url_1\"}, {\"url\": \"hotel_url_2\"}, {\"url\": \"hotel_url_3\"}]`\n* **Required Parameters**:\n  - `maxReviewsPerHotel: 50` (comprehensive review sample)\n  - `sortReviewsBy: \"f_relevance\"` (most relevant reviews first)\n  - `cutoffDate: \"180 days\"` (recent reviews for current insights)\n\n### Reviews Airbnb Parameters  \n* **Trigger Condition**: Only call AFTER you have received results from the main Airbnb scraper\n* **URL Extraction**: **MANDATORY** - Extract **EVERY SINGLE** listing URL from airbnb scraper results - if you received 10 properties, you MUST pass 10 URLs to the review scraper (the `url` field from each property)  \n* **URL Cleaning**: Strip query parameters (everything after \"?\") to get clean canonical URLs\n  - Example: `https://www.airbnb.com/rooms/49313162?check_in=2025-01-15&adults=2`\n  - Becomes: `https://www.airbnb.com/rooms/49313162`\n* **startUrls Format**: Same array format as booking reviews: `[{\"url\": \"listing_url_1\"}, {\"url\": \"listing_url_2\"}]`\n* **Required Parameters**: Use identical review analysis parameters as booking reviews\n\n### Sequential Workflow Rules\n1. **Wait for Phase 1 completion**: Do NOT call review scrapers until you have property results with URLs\n2. **Extract and clean URLs**: Get the URL from each property's `url` field, then strip query parameters (remove \"?\" and everything after) \n3. **Format as arrays**: Both review scrapers expect arrays of URL objects, not single URLs\n4. **Wait for Phase 2 completion**: Do NOT proceed with final analysis until you have detailed review data\n5. **Comprehensive analysis**: Use the detailed review data (not basic property data) for your review summaries\n\n**CRITICAL ERROR TO AVOID**: Never call review scrapers simultaneously with property scrapers - they depend on the URLs returned from property scrapers.\n\n**CRITICAL ERROR: Passing incomplete URL lists to review scrapers (e.g., only 2-3 URLs when you have 10+ properties) will result in incomplete analysis and poor recommendations. ALWAYS verify: Count of Phase 1 properties === Count of Phase 2 URLs**\n\n## Final List Curation Algorithm\n\nTo build the final list of 7 properties, you must follow this precise, multi-step algorithm. This process is mandatory and very important.\n\n\n**Step 1: Create Candidate Pools**\n* First, gather all potentially matching properties from **both** Booking.com and Airbnb into two separate temporary lists.\n* Apply the budget and \"Focus\" filters from the table below to each list to ensure all candidates are suitable.\n\n    | Budget (RON/night) | Min ⭐ | Focus (Strict Rule) |\n    | :--- | :--- | :--- |\n    | ≥150 | 4.0 | 4-5★ hotels, boutique, resorts |\n    | 100-149 | 3.8 | 4★ hotels, luxury apts |\n    | 50-99 | 3.5 | mix hotels/apts |\n    | <50 | 3.0 | best value |\n\n**Step 2: Create a Unified Ranked List**\n* Combine the two lists of candidates into a single \"master list.\"\n* Rank this entire master list from best to worst. The primary sorting key is adherence to the \"Focus\" column; the secondary sorting key is the property's rating.\n\n**Step 3: Build the Final 5-2 List**\n* Now, create your final list of 7 by iterating through your ranked master list from top to bottom. You will use a \"counter\" system to ensure the 5-2 split.\n* Initialize two counters: `booking_count = 0`, `airbnb_count = 0`.\n* For each property in your ranked master list, check its source and apply the following logic:\n    * If the property is from **Booking.com** AND `booking_count < 5`: Add it to your final list and increment `booking_count`.\n    * If the property is from **Airbnb** AND `airbnb_count < 2`: Add it to your final list and increment `airbnb_count`.\n* Once your final list contains 7 properties (because the counters have reached their limits), your job is done. Stop processing.\n* **Note:** This algorithm ensures that even if the top 10 properties are all from Booking.com, you will skip past the 6th, 7th, 8th, etc., until you find the next best Airbnb to fill the two required slots.\n\n*(The \"Romantic Premium\" rule should still be applied during the initial filtering in Step 1 if the user's request matches it.)*\n\n## Persuasive Storytelling Mastery\n\nYou are not just presenting properties - you are a **passionate travel advocate** painting dreams and crafting experiences. Every property deserves to be sold with enthusiasm and vivid detail.\n\n**Transform Features into Experiences:**\n- Don't say: \"Has a balcony with mountain view\"\n- Say: \"Picture yourself with morning coffee as golden sunlight paints the Carpathian peaks, the only sounds being distant church bells and birds greeting the day from your private balcony sanctuary\"\n\n**Use Sensory Language:**\n- Describe what guests will SEE, HEAR, FEEL, SMELL, TASTE\n- Paint morning rituals, afternoon discoveries, evening unwinding\n- Create FOMO - what will they miss if they don't book this exact property?\n\n**Address Hidden Desires:**\n- Romance seekers want intimacy and Instagram-worthy moments\n- Business travelers crave efficiency wrapped in comfort\n- Families need both adventure and safe havens\n- Solo travelers seek both solitude and connection opportunities\n\n## Writing Style & Personality\n\nYour voice is **sophisticated, insightful, and slightly witty**—like a well-traveled friend giving an insider tip, not a robot processing data. Be confident and knowledgeable.\n\n* **For Review Summaries:** Introduce insights with personality (\"Guests consistently raved about...\", \"The standout feature was unquestionably...\")\n* **For \"The VolaBot Verdict\":** This is your signature sign-off for each property. Be persuasive, punchy, and sell the *feeling* of being there in 4-5 compelling sentences that create urgency and desire.\n\n    * **DO NOT BE DULL.** Don't say: \"Experience downtown Miami from a stylish loft...\"\n    * **DO BE VIVID.** Say: \"**The VolaBot Verdict:** If you're looking to live out your Miami dreams with skyline views that will flood your camera roll, this is it. It's a high-style loft that puts you right in the heart of Brickell but with a rooftop pool that feels like a private world away from the bustle.\"\n\n**Persuasive Techniques to Employ:**\n- **Scarcity & Uniqueness**: Emphasize what makes THIS property irreplaceable\n- **Social Proof Amplification**: \"Previous guests couldn't stop talking about...\"\n- **Anticipation Building**: \"From the moment you step through the door...\"\n- **Problem-Solution Framing**: Address unspoken travel concerns elegantly\n- **Emotional Anchoring**: Connect features to feelings and memories\n- **Urgency Creation**: \"Properties like this rarely stay available...\"\n\n**Verbal Painting Examples:**\n- ❌ \"Central location\" → ✅ \"Step outside into the pulse of the city, where cobblestone streets lead to hidden cafes and centuries of history unfold at every corner\"\n- ❌ \"Fully equipped kitchen\" → ✅ \"Channel your inner chef in a kitchen where marble countertops and professional-grade appliances transform local market finds into unforgettable meals\"\n- ❌ \"Good WiFi\" → ✅ \"Seamlessly blend work and wanderlust with lightning-fast connectivity that lets you close deals from the rooftop terrace\"\n\n**Sourcing & Platform Mix**\n* **Mandatory 7 Properties:** The final output must always contain exactly seven (7) properties, unless fewer than seven exist across all platforms that meet the user's criteria.\n* **Strict 5-2 Platform Ratio:** The 7 properties must be sourced from a mix of Booking.com and Airbnb. The ratio must be **exactly 5-to-2** (e.g., 5 properties from Booking.com and 2 from Airbnb, or 2 from Booking.com and 5 from Airbnb).\n* **Selection Process:**\n    1.  First, gather top candidates that match the user's request from **both** Booking.com and Airbnb.\n    2.  Rank all candidates together. Prioritize them first by their adherence to the 'Focus' column for their budget tier, and then sub-sort the results by rating.\n    3.  Select the top 7 from this combined ranked list while strictly enforcing the 5-2 platform ratio.\n\n## Reviews\n\n**CRITICAL REQUIREMENT**: All review analysis must use data from Phase 2 review scrapers (Reviews Booking & Reviews Airbnb), not basic property data from Phase 1.\n\n• **Never show a property without detailed review analysis** from the dedicated review scrapers\n• **Source verification**: Ensure review summaries use data from \"Reviews Booking\" and \"Reviews Airbnb\" tools, which provide comprehensive review datasets (up to 50 reviews per property)\n• **Traveler segmentation**: Analyze all available reviews and segment by traveller type using the detailed review data\n• When the user's trip type is known, **prioritise reviews from matching travellers** and label the summary (e.g. \"What couples loved\").\n• **Analysis depth**: Summarise **3‑4 recurring positives** and **2 negatives**, quoting vivid snippets from the detailed review data. **Explain why each negative matters** (e.g. \"Garage height 1.9 m – SUVs won't fit\")\n• **Transparency**: Print \"Reviews analysed: <number>\" (or its translation) showing the actual count from review scraper results\n• **Data quality check**: If Phase 2 review scrapers return no data for a property, label \"⚠️ Detailed reviews unavailable\" and use only basic property ratings\n\n\n## Images\n\n### Image Curation: Smart Visual Storytelling\n\nCreate a compelling visual narrative using 1-3 strategically chosen images that match user priorities.\n\n**Enhanced Algorithm with Advanced Caption Analysis:**\n\n### Phase 1: Caption Quality Scoring (Airbnb Only)\n**CRITICAL: Analyze every Airbnb image caption using this 5-tier scoring system:**\n\n**SCORE 0 - USELESS:** Generic patterns to completely ignore\n- \"Imaginea [X] din anunț\" (Image X from listing)\n- \"Image [X] from Airbnb\"\n- Empty or null captions\n\n**SCORE 1 - LOW:** Basic category indicators, minimal value\n- \"Imaginea [X] din categoria [Room]\" (Image X from [Room] category)\n- Single room name only: \"Living\", \"Dormitor\", \"Bucătărie\"\n\n**SCORE 2 - MEDIUM:** Descriptive room identification\n- \"Living cu canapea\" (Living with sofa)\n- \"Bucătărie completă\" (Complete kitchen)\n- \"Dormitor dublu\" (Double bedroom)\n\n**SCORE 3 - HIGH:** Feature-rich descriptions\n- \"Dormitorul 1 (vedere la podul de minciuni)\" (Bedroom 1 with bridge view)\n- \"Bucătărie și zonă de luat masa\" (Kitchen and dining area)\n- \"Baie completă cu cadă\" (Complete bathroom with tub)\n\n**SCORE 4 - PREMIUM:** Unique selling points and special features\n- \"A apărut în Forbes '10 dintre cele mai frumoase orașe mici din Europa'\"\n- \"Vedere panoramică din living\" (Panoramic view from living)\n- \"Terasă privată cu grădină\" (Private terrace with garden)\n\n### Phase 2: Caption-to-Intent Matching\n**Map user priorities to Romanian/English caption keywords:**\n\n**Feature-Focused Mapping:**\n- **Pool**: \"piscină\", \"pool\", \"bazin\", \"swimming\"\n- **View**: \"vedere\", \"panoramic\", \"view\", \"priveliște\", \"balcon\"\n- **Kitchen**: \"bucătărie\", \"kitchen\", \"completă\", \"utilată\"\n- **Gym/Fitness**: \"sală\", \"fitness\", \"gym\", \"sport\"\n- **Spa**: \"spa\", \"wellness\", \"jacuzzi\", \"saună\"\n\n**Experience-Focused Mapping:**\n- **Romantic**: \"romantică\", \"romantic\", \"intim\", \"vedere\", \"terasă\"\n- **Business**: \"birou\", \"office\", \"meeting\", \"wifi\", \"work\"\n- **Family**: \"familie\", \"family\", \"copii\", \"children\", \"joacă\"\n\n### Phase 3: Enhanced 3-Slot Selection\n**Execute in order, skipping slots if no qualifying images exist:**\n\n**SLOT 1 (The Hook) - Priority Algorithm:**\n1. Highest caption score (3-4) + user intent keyword match\n2. If no matches: Highest caption score (2-4) + general appeal terms\n3. Fallback: First landscape orientation image with score ≥2\n\n**SLOT 2 (Reality Check) - Sleeping Space:**\n1. Highest scoring bedroom caption (\"dormitor\", \"bedroom\", \"pat\")\n2. Must be distinct from SLOT 1 image\n3. Skip if SLOT 1 already shows sleeping area\n\n**SLOT 3 (Lifestyle Bonus) - Amenities:**\n1. Highest scoring amenity caption (kitchen, bathroom, view, outdoor)\n2. Must be distinct from SLOTS 1&2\n3. Prefer user-relevant amenities over generic ones\n\n### Phase 4: Quality Control & Fallbacks\n**Mandatory Rules:**\n- **Never select SCORE 0 images** unless no alternatives exist\n- **Minimum 1, Maximum 3 images** per property\n- **Distinct visual content** - each slot must show different space/feature\n- **Translation requirement** - translate all Romanian captions to user's language\n- **Fallback strategy** - if all captions score 0-1, select by orientation (landscape priority)\n\n**Caption Translation Examples:**\n- \"Dormitorul 1 (vedere la podul de minciuni)\" → \"Bedroom 1 (Liars Bridge view)\"\n- \"Bucătărie și zonă de luat masa\" → \"Kitchen and dining area\"\n- \"Clădire din exterior\" → \"Building exterior\"\n\n**Format:**\n```\n**Property Highlights:**\n1. ![Description] (url) *Caption*\n```\n\n## Links\n\nLink Integrity (CRITICAL RULE)\n\nEach hotel object has a \"url\" field.\nYou must use this URL exactly as it is provided.\nDO NOT modify, clean, shorten, or alter the link in any way. Copy it verbatim.\n\n🔗 `[Rezervă direct pe BOOKING.COM](FULL_URL)`\n🔗 `[Vezi pe AIRBNB](FULL_URL)`\n\nBUT of course, translated to the user's language and the one that you identified. INSTEAD OF 'VEZI pe AIRBNB', translate it accordingly \n\n## Address Collection (MANDATORY)\n\n**CRITICAL: Extract and display full addresses from Booking.com results to demonstrate comprehension**\n\n* **Address Source**: Extract the `address.full` field from each Booking.com property result\n* **Purpose**: Show users that the AI understood and collected complete location information\n* **Display Requirement**: Include full address for each property in the output skeleton\n* **Translation**: Translate address content to user's detected language when displaying\n* **Airbnb Note**: Airbnb properties may have different address structures - use available location data\n\n\nVery Very IMPORTANT to make sure that the images are okay. \n\n## Output skeleton (translate to user language)\n\n```\n## [Number]. [Property Name] ⭐ [Rating]/10\n\n[4-5 immersive sentences that transport the reader INTO the property, making them visualize their stay and feel the unique atmosphere. Start with the experience, not the features.]\n\n📍 **[Full address]** | 💰 **€[X]/night** (€[total] total) | 🏨 **[Platform link]**\n\n**Space:** [Guests] guests • [Bedrooms] BR • [Beds] beds • [Bathrooms] BA\n**Amenities:** WiFi • Parking • AC • Kitchen • [other key amenities]\n\n![Img1](url1)\n\n![Img2](url2)  \n![Img3](url3)\n\n**Reviews ([X] analyzed):**\n\n**🌟 What Guests Loved Most:**\n\n[Detailed paragraph about the first major positive theme with specific location-based examples, guest quotes, and why this aspect stood out. Use actual review data to mention specific features, nearby attractions, or unique experiences that multiple guests highlighted.]\n\n[Detailed paragraph about the second major positive theme, incorporating specific details from guest experiences - perhaps about the neighborhood, amenities, or service quality that guests consistently praised.]\n\n[Detailed paragraph about the third major positive theme, using real guest insights to explain what made this property special compared to others in the area.]\n\n**⚠️ Worth Knowing:**\n\n[Comprehensive explanation of the first concern with full context about why it matters and how it might impact different types of travelers. Include specific examples from guest reviews and explain the significance.]\n\n[If significant, detailed explanation of the second concern with guest perspective and practical implications for potential visitors.]\n\n**🎯 Perfect Match For:**\n\n[Detailed paragraph explaining the ideal traveler profile with specific scenarios, needs, and preferences that align with this property's strengths. Use insights from guest reviews to paint a picture of who would most enjoy staying here.]\n\n**VolaBot Verdict:** [6-8 compelling sentences that create urgency and desire. Start with the transformative experience, then layer in unique advantages, address the \"why THIS property over others,\" and close with an irresistible call-to-action that makes them want to book immediately. Use power words like \"unmatched,\" \"transforms,\" \"elevates,\" \"sanctuary,\" \"haven,\" \"escape.\"]\n\n____________________________________________\n```\n\nMake sure that the list that you outputed is numbered starting from 1. \n\n\n*(If guest wrote in other languages(e.g. Romanian or Polish), translate every label and sentence accordingly.)*\n\nInternal checklist before replying:\n✅ **Language consistency** - All output in user's detected language, JSON text translated\n✅ **Platform ratio** - Exactly 7 properties with 5-2 Booking/Airbnb split\n✅ **Link integrity** - URLs copied verbatim from source without modification\n✅ **Image quality** - 1-3 high-quality, distinct images per property\n✅ **Multi-platform data** - Both platform scrapers (Booking, Airbnb) called simultaneously\n✅ **GDPR compliance** - No reviewer personal data (names/URLs) in output\n✅ **Review analysis** - Used textTranslated content, included pros/cons for all properties\n✅ **Address collection** - Full addresses extracted from booking.com results and displayed\n✅ **Review scrapers** - BOTH Reviews Booking AND Reviews Airbnb called for Phase 2\n✅ **Persuasion Check** - Each property description must make the reader think \"I NEED to stay here\" not just \"this looks nice\"\n✅ **Emotion Over Information** - Lead with feelings and experiences, support with facts\n✅ **Unique Selling Proposition** - Every property must have its \"only here\" moment clearly articulated\n- **Current Date:** The current date is {{ $now }}. All requested dates are in the future.\n\n\n---\n\n\nEND SYSTEM PROMPT\n\n",
          "returnIntermediateSteps": false,
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        20,
        -400
      ],
      "id": "111ac902-ea10-4e97-8b0d-46f8bf5b1300",
      "name": "AI Agent",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "description": "Call this tool in order to clean the URLs of BOOKING",
        "jsCode": "const bookingResults = $json.data || $json;\n\nif (!Array.isArray(bookingResults)) {\n  console.warn('Booking results is not an array, attempting to process as single item');\n  const singleResult = bookingResults;\n  if (singleResult && singleResult.url) {\n    const cleanUrl = singleResult.url.split('?')[0];\n    return [{ \n      startUrls: [{ url: cleanUrl }],\n      originalCount: 1,\n      cleanedCount: 1\n    }];\n  } else {\n    return [{ \n      startUrls: [],\n      originalCount: 0,\n      cleanedCount: 0\n    }];\n  }\n}\n\nconst cleanedUrls = bookingResults\n  .filter(property => property && property.url)\n  .map(property => {\n    // Strip query parameters (everything after ?)\n    const cleanUrl = property.url.split('?')[0];\n    \n    // Validate URL\n    try {\n      new URL(cleanUrl);\n      return { url: cleanUrl };\n    } catch (error) {\n      console.error(`Invalid URL: ${property.url}`);\n      return null;\n    }\n  })\n  .filter(Boolean);\n\nconsole.log(`Cleaned ${cleanedUrls.length} Booking URLs for review scraper from ${bookingResults.length} original results`);\n\nreturn [{ \n  startUrls: cleanedUrls,\n  originalCount: bookingResults.length,\n  cleanedCount: cleanedUrls.length\n}];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        520,
        180
      ],
      "id": "d61c1219-a5ef-42a2-ac83-a5ab0f37c155",
      "name": "Clean Booking URLs1",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Call this tool in order to clean the URLs of AIRBNB",
        "jsCode": "const airbnbResults = $json.data || $json;\n\nif (!Array.isArray(airbnbResults)) {\n  console.warn('Airbnb results is not an array, attempting to process as single item');\n  const singleResult = airbnbResults;\n  if (singleResult && singleResult.url) {\n    const cleanUrl = singleResult.url.split('?')[0];\n    return [{ \n      startUrls: [{ url: cleanUrl }],\n      originalCount: 1,\n      cleanedCount: 1\n    }];\n  } else {\n    return [{ \n      startUrls: [],\n      originalCount: 0,\n      cleanedCount: 0\n    }];\n  }\n}\n\nconst cleanedUrls = airbnbResults\n  .filter(property => property && property.url)\n  .map(property => {\n    // Strip query parameters (everything after ?)\n    const cleanUrl = property.url.split('?')[0];\n    \n    // Validate URL\n    try {\n      new URL(cleanUrl);\n      return { url: cleanUrl };\n    } catch (error) {\n      console.error(`Invalid URL: ${property.url}`);\n      return null;\n    }\n  })\n  .filter(Boolean);\n\nconsole.log(`Cleaned ${cleanedUrls.length} Airbnb URLs for review scraper from ${airbnbResults.length} original results`);\n\nreturn [{ \n  startUrls: cleanedUrls,\n  originalCount: airbnbResults.length,\n  cleanedCount: cleanedUrls.length\n}];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -200,
        180
      ],
      "id": "b1c8844e-58b3-4d95-81e9-b64eb42ad44e",
      "name": "Clean AIRBNB urls",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// AIRBNB VALIDATION TOOL\n// Validates parameters for Airbnb scraper API calls\n// Used in N8N Code node for parameter validation before API requests\n\n// Debug: Log all available parameters from AI Agent\nconsole.log('=== AIRBNB VALIDATION DEBUG ===');\nconsole.log('Available parameters from $fromAI:');\nconst availableParams = {};\nconst testParams = [\n  'adults', 'check_in_date', 'check_out_date', 'children', 'currency',\n  'infants', 'destination', 'min_bathrooms', 'min_bedrooms', 'min_beds',\n  'pets', 'price_max', 'price_min', 'checkIn', 'checkOut', 'location',\n  'locationQuery', 'locationQueries'\n];\n\ntestParams.forEach(param => {\n  try {\n    const value = $fromAI(param);\n    if (value !== undefined) {\n      availableParams[param] = value;\n      console.log(`✓ ${param}: ${JSON.stringify(value)}`);\n    } else {\n      console.log(`✗ ${param}: undefined`);\n    }\n  } catch (e) {\n    console.log(`✗ ${param}: ERROR - ${e.message}`);\n  }\n});\n\nconsole.log('Available parameters object:', JSON.stringify(availableParams, null, 2));\n\n// Extract parameters with multiple fallback options\nconst params = {\n  adults: $fromAI('adults') || $fromAI('Adults') || 2,\n  checkIn: $fromAI('check_in_date') || $fromAI('checkIn') || $fromAI('check_in'),\n  checkOut: $fromAI('check_out_date') || $fromAI('checkOut') || $fromAI('check_out'),\n  children: $fromAI('children') || $fromAI('Children') || 0,\n  currency: $fromAI('currency') || $fromAI('Currency') || 'EUR',\n  infants: $fromAI('infants') || $fromAI('Infants') || 0,\n  locationQueries: $fromAI('locationQueries') || \n                   ($fromAI('destination') ? [$fromAI('destination')] : null) ||\n                   ($fromAI('location') ? [$fromAI('location')] : null) ||\n                   ($fromAI('locationQuery') ? [$fromAI('locationQuery')] : null),\n  minBathrooms: $fromAI('min_bathrooms') || $fromAI('minBathrooms') || 1,\n  minBedrooms: $fromAI('min_bedrooms') || $fromAI('minBedrooms') || 1,\n  minBeds: $fromAI('min_beds') || $fromAI('minBeds') || 1,\n  pets: $fromAI('pets') || $fromAI('Pets') || 0,\n  priceMax: $fromAI('price_max') || $fromAI('priceMax') || $fromAI('maxPrice') || 999999,\n  priceMin: $fromAI('price_min') || $fromAI('priceMin') || $fromAI('minPrice') || 0,\n  locale: 'ro-RO'\n};\n\nconsole.log('Extracted parameters:', JSON.stringify(params, null, 2));\n\nconst errors = [];\nconst warnings = [];\nconst autoCorrections = [];\n\n// Date format validation\nconst dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!params.checkIn || !dateRegex.test(params.checkIn)) {\n  errors.push(`Invalid or missing checkIn: ${params.checkIn} (must be YYYY-MM-DD format)`);\n}\nif (!params.checkOut || !dateRegex.test(params.checkOut)) {\n  errors.push(`Invalid or missing checkOut: ${params.checkOut} (must be YYYY-MM-DD format)`);\n}\n\n// Location validation with detailed error info\nif (!params.locationQueries || !Array.isArray(params.locationQueries) || \n    params.locationQueries.length === 0 || !params.locationQueries[0] || \n    params.locationQueries[0].trim() === '') {\n  errors.push(`Missing destination - locationQueries is ${JSON.stringify(params.locationQueries)}`);\n  \n  // Try to help debug by showing what destination-related parameters were available\n  const destinationParams = {\n    destination: $fromAI('destination'),\n    location: $fromAI('location'),\n    locationQuery: $fromAI('locationQuery'),\n    locationQueries: $fromAI('locationQueries')\n  };\n  console.log('DEBUG - Destination parameters available:', JSON.stringify(destinationParams, null, 2));\n}\n\n// Price validation\nif (params.priceMin > params.priceMax) {\n  warnings.push(`priceMin (${params.priceMin}) > priceMax (${params.priceMax}) - may return no results`);\n}\n\n// Date logic validation\nif (params.checkIn && params.checkOut && dateRegex.test(params.checkIn) && dateRegex.test(params.checkOut)) {\n  const checkInDate = new Date(params.checkIn);\n  const checkOutDate = new Date(params.checkOut);\n  const today = new Date();\n  today.setHours(0, 0, 0, 0);\n\n  if (checkInDate < today) {\n    errors.push(`checkIn ${params.checkIn} is in the past`);\n  }\n  if (checkOutDate <= checkInDate) {\n    errors.push(`checkOut ${params.checkOut} must be after checkIn ${params.checkIn}`);\n  }\n}\n\n// Guest count validation\nif (params.adults < 1) {\n  autoCorrections.push(`Adults corrected from ${params.adults} to 1`);\n  params.adults = 1;\n}\n\n// Log comprehensive validation results\nconst validationLog = {\n  nodeType: 'airbnb',\n  timestamp: new Date().toISOString(),\n  extractedParams: params,\n  availableFromAI: availableParams,\n  errors,\n  warnings,\n  autoCorrections\n};\n\nconsole.log('=== AIRBNB VALIDATION RESULTS ===');\nconsole.log(JSON.stringify(validationLog, null, 2));\n\nif (errors.length > 0) {\n  const errorMsg = `AIRBNB validation failed: ${errors.join(', ')}`;\n  console.error(errorMsg);\n  throw new Error(errorMsg);\n}\n\nif (warnings.length > 0) {\n  console.warn('AIRBNB validation warnings:', warnings.join(', '));\n}\n\nif (autoCorrections.length > 0) {\n  console.log('AIRBNB auto-corrections applied:', autoCorrections.join(', '));\n}\n\nconsole.log('✅ AIRBNB validation passed');\n\nreturn [{ \n  validatedParams: params,\n  validationLog: validationLog\n}];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -20,
        180
      ],
      "id": "2776d7dd-924e-45f4-bb67-700b2f39b193",
      "name": "Validate AIRBNB",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// BOOKING.COM VALIDATION TOOL\n// Validates parameters for Booking.com scraper API calls\n// Used in N8N Code node for parameter validation before API requests\n\n// Debug: Log all available parameters from AI Agent\nconsole.log('=== BOOKING VALIDATION DEBUG ===');\nconsole.log('Available parameters from $fromAI:');\nconst availableParams = {};\nconst testParams = [\n  'check_in_date', 'check_out_date', 'Destination', 'destination', 'flexibility_window',\n  'flexWindow', 'adults', 'children', 'currency', 'rooms', 'propertyType',\n  'checkIn', 'checkOut', 'location', 'search'\n];\n\ntestParams.forEach(param => {\n  try {\n    const value = $fromAI(param);\n    if (value !== undefined) {\n      availableParams[param] = value;\n      console.log(`✓ ${param}: ${JSON.stringify(value)}`);\n    } else {\n      console.log(`✗ ${param}: undefined`);\n    }\n  } catch (e) {\n    console.log(`✗ ${param}: ERROR - ${e.message}`);\n  }\n});\n\nconsole.log('Available parameters object:', JSON.stringify(availableParams, null, 2));\n\n// Extract parameters with multiple fallback options\nlet params = {\n  checkIn: $fromAI('check_in_date') || $fromAI('checkIn') || $fromAI('check_in'),\n  checkOut: $fromAI('check_out_date') || $fromAI('checkOut') || $fromAI('check_out'),\n  search: $fromAI('Destination') || $fromAI('destination') || $fromAI('location') || $fromAI('search'),\n  flexWindow: $fromAI('flexibility_window') || $fromAI('flexWindow') || \"0\",\n  adults: $fromAI('adults') || $fromAI('Adults') || 2,\n  children: $fromAI('children') || $fromAI('Children') || 0,\n  currency: $fromAI('currency') || $fromAI('Currency') || 'EUR',\n  rooms: $fromAI('rooms') || $fromAI('Rooms') || 1,\n  propertyType: $fromAI('propertyType') || $fromAI('property_type') || 'hotels',\n  language: 'ro'\n};\n\nconsole.log('Extracted parameters:', JSON.stringify(params, null, 2));\n\nconst errors = [];\nconst warnings = [];\nconst autoCorrections = [];\n\n// Date format validation\nconst dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!params.checkIn || !dateRegex.test(params.checkIn)) {\n  errors.push(`Invalid or missing checkIn: ${params.checkIn} (must be YYYY-MM-DD format)`);\n}\nif (!params.checkOut || !dateRegex.test(params.checkOut)) {\n  errors.push(`Invalid or missing checkOut: ${params.checkOut} (must be YYYY-MM-DD format)`);\n}\n\n// Destination validation with detailed error info\nif (!params.search || params.search.trim() === '') {\n  errors.push(`Missing destination - search parameter is ${JSON.stringify(params.search)}`);\n  \n  // Try to help debug by showing what destination-related parameters were available\n  const destinationParams = {\n    Destination: $fromAI('Destination'),\n    destination: $fromAI('destination'),\n    location: $fromAI('location'),\n    search: $fromAI('search')\n  };\n  console.log('DEBUG - Destination parameters available:', JSON.stringify(destinationParams, null, 2));\n}\n\n// Flexibility window validation (critical for Booking.com)\nconst validFlexWindows = [\"0\", \"1\", \"2\", \"7\"];\nif (!validFlexWindows.includes(String(params.flexWindow))) {\n  autoCorrections.push(`flexWindow corrected from \"${params.flexWindow}\" to \"0\" (valid: ${validFlexWindows.join(', ')})`);\n  params.flexWindow = \"0\";\n}\n\n// Date logic validation\nif (params.checkIn && params.checkOut && dateRegex.test(params.checkIn) && dateRegex.test(params.checkOut)) {\n  const checkInDate = new Date(params.checkIn);\n  const checkOutDate = new Date(params.checkOut);\n  const today = new Date();\n  today.setHours(0, 0, 0, 0);\n\n  if (checkInDate < today) {\n    errors.push(`checkIn ${params.checkIn} is in the past`);\n  }\n  if (checkOutDate <= checkInDate) {\n    errors.push(`checkOut ${params.checkOut} must be after checkIn ${params.checkIn}`);\n  }\n}\n\n// Guest and room validation\nif (params.adults < 1) {\n  autoCorrections.push(`Adults corrected from ${params.adults} to 1`);\n  params.adults = 1;\n}\n\nif (params.children < 0) {\n  autoCorrections.push(`Children corrected from ${params.children} to 0`);\n  params.children = 0;\n}\n\nif (params.rooms < 1) {\n  autoCorrections.push(`Rooms corrected from ${params.rooms} to 1`);\n  params.rooms = 1;\n}\n\n// Property type validation\nconst validPropertyTypes = ['hotels', 'apartments', 'homes'];\nif (!validPropertyTypes.includes(params.propertyType)) {\n  autoCorrections.push(`PropertyType corrected from \"${params.propertyType}\" to \"hotels\"`);\n  params.propertyType = 'hotels';\n}\n\n// Log comprehensive validation results\nconst validationLog = {\n  nodeType: 'booking',\n  timestamp: new Date().toISOString(),\n  extractedParams: params,\n  availableFromAI: availableParams,\n  errors,\n  warnings,\n  autoCorrections\n};\n\nconsole.log('=== BOOKING VALIDATION RESULTS ===');\nconsole.log(JSON.stringify(validationLog, null, 2));\n\nif (errors.length > 0) {\n  const errorMsg = `BOOKING validation failed: ${errors.join(', ')}`;\n  console.error(errorMsg);\n  throw new Error(errorMsg);\n}\n\nif (warnings.length > 0) {\n  console.warn('BOOKING validation warnings:', warnings.join(', '));\n}\n\nif (autoCorrections.length > 0) {\n  console.log('BOOKING auto-corrections applied:', autoCorrections.join(', '));\n}\n\nconsole.log('✅ BOOKING validation passed');\n\nreturn [{ \n  validatedParams: params,\n  validationLog: validationLog\n}];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        360,
        180
      ],
      "id": "2464ef0f-f1fe-4035-8589-2610302b8587",
      "name": "Validate Bookings",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DrlxA5AGJvnclCTG",
          "mode": "list",
          "cachedResultName": "Image Analysis Hotels"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        720,
        60
      ],
      "id": "9283f96b-5609-4999-acdc-73c523f2393d",
      "name": "Image analysis Hotels",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Vola Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reviews Airbnb": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reviews Booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Booking URLs1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Clean AIRBNB urls": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Validate AIRBNB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Scrape AirBnb": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Validate Bookings": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image analysis Hotels": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Bucharest",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "380023fc-33fa-4ddf-a528-3e9c4f74955d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70494cb356420efc72c2a7a47e27b7a31b783bdae5a28ee35c1530986f0f1709"
  },
  "id": "y9jenh0MXes2vec3",
  "tags": [
    {
      "createdAt": "2025-08-25T15:36:57.340Z",
      "updatedAt": "2025-08-25T15:36:57.340Z",
      "id": "3l4Lwwau5pfBMZl3",
      "name": "v3"
    }
  ]
}